In [2]:
import requests
from bs4 import BeautifulSoup
import json

import pandas as pd

In [3]:
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36', 'referer': 'https://uae.dubizzle.com/en/property-for-sale/residential/'}

In [4]:
Dataset = []

for i in range(1, 10):

    url = 'https://uae.dubizzle.com/property-for-sale/residential/?page={i}'

    response = requests.get(url)

    soup = BeautifulSoup(response.content, 'html.parser')

    posters = soup.find_all('a', class_='sc-fzQBhs sc-cDvQBt ffWDOe cLPeYo')


    for poster in posters:
      price = poster.find('div', class_='sc-fBWQRz sc-jGKxIK fEbvgi cKudTj').text
      property_type = poster.find('h2', attrs={'data-testid':'subheading-text'}).text
      bedrooms = poster.find('div', attrs={'data-testid':'listing-bedrooms'}).text
      bathrooms = poster.find('div', attrs={'data-testid':'listing-bathrooms'}).text
      size = poster.find('div', attrs={'data-testid':'listing-size'}).text
      location = poster.find('span', class_='MuiTypography-root MuiTypography-body1 MuiTypography-noWrap css-ncavm4').text

      Dataset.append([property_type, bedrooms, bathrooms, size, location, price])

In [5]:
df = pd.DataFrame(Dataset, columns=['property_type', 'bedrooms', 'bathrooms', 'size', 'location', 'price'])
df.head()

In [6]:
df.replace(r'', 1)

,property_type,bedrooms,bathrooms,size,location,price
0,Apartment,2,2,1186,"Gulf Tower Ajman, Emirates City, Ajman","481,733"
1,Apartment,2,1,881,"Giovanni Boutique Suites, Dubai Sports City, D...","825,000"
2,Apartment,1,1,734,"Avonlea Building 1, Avonlea, Mina Rashid, Dubai","1,600,000"
3,Apartment,2,3,1418,"Ellington Beach House, Palm Jumeirah, Dubai","7,349,828"
4,Apartment,1,2,638,"Park Central, Business Bay, Dubai","899,000"
...,...,...,...,...,...,...
240,Apartment,1,2,839,"Wilton Park Residences I, Wilton Park Residenc...","1,950,000"
241,Apartment,1,1,650,"SLS Dubai Hotel & Residences, Business Bay, Dubai","1,500,000"
242,Apartment,2,2,1167,"Paramount Tower Hotel & Residences, Business B...","2,800,000"
243,Apartment,1,1,1163,"SLS Dubai Hotel & Residences, Business Bay, Dubai","2,450,000"
244,Apartment,1,1,453,"Chic Tower, Business Bay, Dubai","1,280,000"

In [7]:
df.shape

(245, 6)

In [8]:
dataset = df.to_json('Dubizzle_Dataset.json', orient='records')

print(dataset)

None

In [9]:
data

NameError: ignored